html{
    margin: 0;
    width:100%;
    height: 100%;
}
body{
    font-family: Verdana, Geneva, sans-serif;
    color: #000000be;
    margin: 0;
}
h1{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
h2{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #000000cc;
}