body{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-rows: auto auto;
    margin: 0;
    font-family: Nunito, sans-serif;
}
h1, h2, h3{
    font-family: Sen, sans-serif;
    color: #2a1e5c;
}