body{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-rows: auto auto;
    margin: 0;
    font-family: $fontFamily1;
}
h1, h2, h3, h4{
    font-family: $fontFamily2;
    color: $sitePurple;
}
h3{
    font-size: 1.2em;
    color: #ff5100;
}