@media only screen and (min-width: 769px) {
    .site-plan-navigation-container{
        flex-direction: row;
    }
    .site-plan-navigation{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    #nav-menu-toggle-label{
        display: none;
    }
    #nav-menu-toggle{
        display: none;
    }
}