body{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
body div{
    display: flex;
    justify-content: center;
    margin: auto;
    overflow: hidden;
    width: 300px;
}

img{
    height: 400px;
}
img[data-src] {
    filter: blur(0.2em);
}
  
img {
    filter: blur(0em);
    transition: filter 0.5s;
}