

#guides-list-container{
  display: flex;
  flex-direction: column;
  .guides-list{
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
  }
  .guide-container{
    box-shadow: 0 2px 6px #929292;
    margin:  0 5% 30px 5%;
    text-align: center;
    padding: 10px 0;
    border-radius: 3px;
  }
}