

#guides-list-container{
  display: flex;
  flex-direction: column;
  .guides-list{
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
  }
  .guide-container{
    box-shadow: 0 2px 6px #929292;
    margin:  0 5% 30px 5%;
    text-align: center;
    padding: 10px 0;
    border-radius: 3px;
  }
  .guide-container>*{
    margin: 0 15px;
  }
  .guide-container:hover{
    box-shadow: 0 0 50px #333;
  }
  img{
    padding: 20px 0;
  }
  .guide-info-container{
    display: flex;
    justify-content: space-between;
  }
  .guide-info-container.section-start{
    border-top: 1px solid #dddddd;
    //margin-top: 15px;
  }
  .guide-info-container.section-end{
    //border-bottom: 1px solid #dddddd;
    margin-bottom: 15px;
  }
  .guide-info-container.column{
    flex-direction: column;
  }
  .guide-info-label{
    margin: 0;
    flex-grow: 1;
    text-align: left;
    font-size: 1.1em;
  }
  .guide-info-value{
    text-align: right;
    font-size: 1.1em;
  }
}