#activities{
    display: flex;
    flex-direction: column;
    .activity{
        display: flex;
        border-top: 1px solid #c0c0c0;
        padding-bottom: 20px;
    }
    .activity{
        display: grid;
        grid-template-columns: 45% 55%;
        grid-template-rows: auto auto;

        .activity-header{
            grid-area: 1 / 1 / span 2 / span 1;
            .activity-title{
                font-size: 1.8em;
            }
        }
        .activity-detail{
            grid-row: 1;
            grid-column: 2;
            padding: 0 0 0 20px;
            .detail-item{
                .label{
                    font-family: Sen;
                    font-weight: 700;
                    font-size: 0.9em;
                    margin-right: 10px;
                }
            }
        }
        .activity-prices{
            padding: 0 0 0 20px;
            grid-row: 2;
            grid-column: 2;
            // display: flex;
            // flex-direction: column;
            .price-table{
                display: flex;
                padding: 0 10px;
                max-width: 80%;
                .table-header{
                    font-family: Sen;
                    font-weight: 700;
                    padding: 5px 0;
                }
                .column{
                    flex-grow: 1;
                    border-bottom: 1px solid #e9e9e9;
                    .cell{
                        border-top: 1px solid #e9e9e9;;
                        padding: 5px 0;
                    }
                }
            }
            .table-footer{
                padding: 3px 20px;
                opacity: 75%;
            }
        }
        .activity-image{
            width: 100%;
            border-radius: 10px;
        }
    
    }
}