

#nav-menu{
    width: 100%;
    grid-row: 1;
    text-align: center;
    box-shadow: 0 2px 6px #929292;
    z-index: 1;
}

#nav-menu nav{
    background-color: #2a1e5c;
    box-shadow: 0 2px 6px #929292;
}

#nav-menu ul{
    padding: 0 0 10px 0;
    margin: 0;
}
#nav-menu a{
    font-size: 20px;
    text-decoration: none;
    border-radius: 4px;
    color: white;
}
#nav-menu a:hover{
    box-shadow: 0 1px 4px #575757;
    text-decoration: underline;
}
#nav-menu li{
    list-style: none;
}
#nav-menu li.active a{
    color: #30bced;
}

#nav-menu nav.collapsed{
    display: none;
}
#nav-menu nav{
    .active{
        display: none;
    }
}

#menu-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height:60px;
    background-color: #2a1e5c;
    color: #30bced;
    font-size: 20px;
    position: relative;

    .drop-down-arrow{
        position: absolute;
        right: 0;
    }

}