
body{
    padding: 5px;
}
h2, h1{
    font-family: Wellfleet, Helvetica, sans-serif;
    color: #303096;
}
header{
    text-align: center;
}
main{
    box-shadow: 0 2px 6px #929292;
    width: 100%
}
h1{
    margin: 5px 0;
}
.cards{
    padding: 9px 0;
    width: 100%;
}
section{
    text-align: center;
    border: 1px solid #562a9e;
    background-color: #cbc0db;
    margin: 3px 10px;
}
img{
    width: 150px;
    box-shadow: 0 2px 6px #929292;
}
.birth-place,
.birth-date{
    margin-bottom: 5px;
}
