@media only screen and (min-width: 950px) {
    .cards{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: auto;
    }
    section{
        margin: 3px;
    }
    section:nth-child(4n){
        margin-right: 10px;
        grid-column: 4;
    }
    section:nth-child(4n-1){
        grid-column: 3;
    }
    section:nth-child(4n-2){
        grid-column: 2;
    }
    section:nth-child(4n-3){
        margin-left: 10px;
        grid-column: 1;
    }
}