#main-content{
    width: 96%;
    padding: 0 2%;
    h1.page-title{
        color: #ff5100;
    }
}
#main-content-container{
    grid-row: 2;
    width: 100%;
    overflow-y: scroll;
    height: 100%;
}