#weather-summary-container{

    height: 300px;
    background-image: url("../images/weather-summary-banner.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    border-radius: 5px;

    .units{
        margin-left: 5px;
    }

    .caption{
        text-align: center;
    
        margin: 10px;
    }

    .widget{
        background-color: #fbf9ff;
        display: inline-block;
        margin: 20px;
        border-radius: 10px;
        border: 1px solid #2a1e5c;
        box-shadow: 0 1px 4px #575757;
    }
    .column:first-child{
        background-color: #2a1e5c;
        color: #fbf9ff;
        font-family: Nunito, sans-serif;
        font-weight: 700;
    }
    .table{
        display: flex;
    }
    .cell{   
        padding: 5px 20px;
    }
    .cell.value{
        border-top: 1px solid #2a1e5c;
        
    }

}