#site-footer{
    width: 100%;
    background-color: #0a0f0d;
    color: White;
    text-align: center;
    margin-top: 20px;
    a{
        color: #ffffff;
    }
    .vertical-rod{
        display: inline-block;
    }
    .footer-text{
        display: inline-block;
        padding: 10px 10px 0 10px;

    }
    .footer-text:last-child{
        padding-bottom: 10px;
    }

}